<md-list>
<md-subheader class="md-no-sticky"> Invite another guest</md-subheader>
<md-content layout-padding layout="row" layout-sm="column">
  <form ng-submit="submitInsert()">
    <md-input-container>
      <label>First Name</label>
      <input ng-model="first" type="text" autofocus="true">
    </md-input-container>
    <md-input-container>
      <label>Last Name</label>
      <input ng-model="last" type="text">
    </md-input-container>
    <md-button class="md-raised" type="submit">update</md-button>
  </form>
</md-content>
</md-list>