<md-tabs md-stretch-tabs="always" md-dynamic-height md-border-bottom>
  <md-tab id="tech">
    <md-tab-label>Technology</md-tab-label>
    <md-tab-body>
      <md-content layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-card flex="50">
            <img ng-src="/img/bmw.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
              <h2 class="md-title">BMW</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button>Read More</md-button>
              <md-button>Share</md-button>
            </div>
          </md-card>
        </div>
        <div layout="row" layout-align="center center">
          <md-card flex="50" style="background-color:#004444;min-height: 40px;">
            <img ng-src="/img/bmw.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
              <h2 class="md-title">BMW</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button>Read More</md-button>
              <md-button>Share</md-button>
            </div>
          </md-card>
        </div>
      </md-content>
    </md-tab-body>
  </md-tab>
  <md-tab id="sports">
    <md-tab-label>Sports</md-tab-label>
    <md-tab-body>
      <md-content layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-card flex="50">
            <img ng-src="/img/science.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
              <h2 class="md-title">Vacation</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button>Read More</md-button>
              <md-button>Share</md-button>
            </div>
          </md-card>
        </div>
      </md-content>
    </md-tab-body>
  </md-tab>
  <md-tab label="science">
    <md-tab-label>Science</md-tab-label>
    <md-content layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-card flex="50">
            <img ng-src="/img/spider.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
              <h2 class="md-title">Spider</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button>Read More</md-button>
              <md-button>Share</md-button>
            </div>
          </md-card>
        </div>
      </md-content>
  </md-tab>
  <md-tab label="entreprenuership">
    <md-tab-label>Entreprenuership</md-tab-label>
    <md-content layout="column" layout-align="center center">
        <div layout="row" layout-align="center center">
          <md-card flex="50">
            <img ng-src="/img/workplace.jpg" class="md-card-image" alt="Washed Out">
            <md-card-content>
              <h2 class="md-title">Entreprenuer</h2>
              <p>
                Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
              </p>
            </md-card-content>
            <div class="md-actions" layout="row" layout-align="end center">
              <md-button>Read More</md-button>
              <md-button>Share</md-button>
            </div>
          </md-card>
        </div>
      </md-content>
  </md-tab>
</md-tabs>
<!--md-content class="md-padding">
  <md-tabs md-dynamic-height md-border-bottom>
    <md-tab label="one">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab One</h1>
        <md-list>
          <md-subheader class="md-no-sticky">Guest list</md-subheader>
          <md-button class="md-raised md-primary" ng-click="invite()">Invite another guest</md-button>
          <md-list-item ng-repeat="guest in guests | orderBy:'last' | orderBy:'first'">
            <p> {{ $index + 1 }}. <b>{{ guest.first }} {{ guest.last }}</b> </p>
            <md-button class="md-raised" ng-click="update(guest)">update</md-button>
            <md-button class="md-raised md-warn" ng-click="delete(guest)">delete</md-button>
          </md-list-item>
        </md-list>
      </md-content>
    </md-tab>
    <md-tab label="two">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab Two</h1>
        <md-content class="md-padding">
    <md-card>
      <md-card-content>
        <h2 class="md-title">Paracosm</h2>
        <p>
          The titles of Washed Out's breakthrough song and the first single from Paracosm share the
          two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
        </p>
      </md-card-content>
      <div class="md-actions" layout="row" layout-align="end center">
        <md-button>Action 1</md-button>
        <md-button>Action 2</md-button>
      </div>
    </md-card>
      </md-content>
    </md-tab>
    <md-tab label="three">
      <md-content class="md-padding">
        <h1 class="md-display-2">Tab Three</h1>
        <p>This is tab 3</p>
      </md-content>
    </md-tab>
  </md-tabs>
</md-content-->
