<md-tab id="science">
    <md-tab-label>Science</md-tab-label>
    <md-content layout="column" layout-align="center center">
      <div layout="row" layout-align="center center">
        <md-card flex="50">
          <img ng-src="/img/spider.jpg" class="md-card-image" alt="Washed Out">
          <md-card-content>
            <h2 class="md-title">Spider</h2>
            <p>
              Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </p>
          </md-card-content>
          <div class="md-actions" layout="row" layout-align="end center">
            <md-button>Read More</md-button>
            <md-button>Share</md-button>
          </div>
        </md-card>
      </div>
    </md-content>
  </md-tab>